@use "../../functions/f-get-token" as tok;

$bp-map: tok.get-token(breakpoint);

// Values
$get-bp-xs: tok.get-token(breakpoint, xs);
$get-bp-mobile: tok.get-token(breakpoint, mobile);
$get-bp-tablet: tok.get-token(breakpoint, tablet);
$get-bp-desktop: tok.get-token(breakpoint, desktop);
$get-bp-wide: tok.get-token(breakpoint, wide);
