@use "../../functions/f-get-token" as tok;

$bp-map: tok.get-token(breakpoint);

// Values
$bp-xs: tok.get-token(breakpoint, xs);
$bp-mobile: tok.get-token(breakpoint, mobile);
$bp-tablet: tok.get-token(breakpoint, tablet);
$bp-desktop: tok.get-token(breakpoint, desktop);
$bp-wide: tok.get-token(breakpoint, wide);
