@use "../../functions/f-get-token" as tok;

$color-map: tok.get-token(color);

// TEXT CSS Variables
$text-primary: tok.get-token(color, text-primary);
$text-secondary: tok.get-token(color, text-secondary);
$text-tertiary: tok.get-token(color, text-tertiary);
$text-link: tok.get-token(color, text-link);
$text-link-hover: tok.get-token(color, text-link-hover);

// BACKGROUND CSS Variables
$bg-primary: tok.get-token(color, bg-primary);
$bg-secondary: tok.get-token(color, bg-secondary);
$bg-tertiary: tok.get-token(color, bg-tertiary);
$bg-overlay: tok.get-token(color, bg-overlay);
$bg-hover: tok.get-token(color, bg-hover);

// BUTTON CSS Variables
// Primary
$button-bg-primary: tok.get-token(color, button-bg-primary);
$button-text-primary: tok.get-token(color, button-text-primary);
$button-hover-primary: tok.get-token(color, button-hover-primary);

// Secondary
$button-bg-secondary: tok.get-token(color, button-bg-secondary);
$button-text-secondary: tok.get-token(color, button-text-secondary);
$button-hover-secondary: tok.get-token(color, button-hover-secondary);

// Tertiary
$button-bg-tertiary: tok.get-token(color, button-bg-tertiary);
$button-text-tertiary: tok.get-token(color, button-text-tertiary);
$button-hover-tertiary: tok.get-token(color, button-hover-tertiary);

// SVG CSS Variables

// Fill
$fill-primary: tok.get-token(color, fill-primary);
$fill-secondary: tok.get-token(color, fill-secondary);
$fill-tertiary: tok.get-token(color, fill-tertiary);

// Stroke
$stroke-primary: tok.get-token(color, stroke-primary);
$stroke-secondary: tok.get-token(color, stroke-secondary);
$stroke-tertiary: tok.get-token(color, stroke-tertiary);
