@use "../../functions/f-get-token" as token;

// Повна мапа кольорів
$colors: token.get(color);

// Звичайні SCSS-значення

$bg-primary: token.get(color, "bg.primary", css);
$bg-secondary: token.get(color, "bg.secondary", css);
$bg-tertiary: token.get(color, "bg.tertiary", css);
$bg-overlay: token.get(color, "bg.overlay", css);

$text-primary: token.get(color, "text.primary", css);
$text-title: token.get(color, "text.title", css);
$text-accent: token.get(color, "text.accent", css);

$btn-text-primary: token.get(color, "button.text-primary", css);
$btn-primary: token.get(color, "button.primary", css);
$btn-pressed: token.get(color, "button.pressed", css);

$btn-default: token.get(color, "button.default", css);
$btn-info: token.get(color, "button.info", css);
$btn-success: token.get(color, "button.success", css);
$btn-warning: token.get(color, "button.warning", css);
$btn-danger: token.get(color, "button.danger", css);

$svg-primary: token.get(color, "svg.primary", css);
$svg-secondary: token.get(color, "svg.secondary", css);
$svg-hover: token.get(color, "svg.hover", css);
$svg-success: token.get(color, "svg.success", css);
$svg-error: token.get(color, "svg.error", css);
