@use "../../functions/f-get-token" as tok;

$fs-map: tok.get-token(font-size);

$fs-xs: tok.get-token(font-size, xs);
$fs-sm: tok.get-token(font-size, sm);
$fs-primary: tok.get-token(font-size, primary);
$fs-md: tok.get-token(font-size, md);
$fs-lg: tok.get-token(font-size, lg);
$fs-xl: tok.get-token(font-size, xl);
