@use "../../functions/f-get-token" as tok;

$ff-map: tok.get-token(font-family);

$ff-primary: tok.get-token(font-family, primary);
$ff-secondary: tok.get-token(font-family, secondary);
$ff-accent: tok.get-token(font-family, accent);
