@use "../../functions/f-get-token" as tok;

$c-font-weight-regular: tok.get-token(font-weight, regular);
$c-font-weight-medium: tok.get-token(font-weight, medium);
$c-font-weight-bold: tok.get-token(font-weight, bold);
