@use "../../functions/f-get-token" as tok;

$fw-map: tok.get-token(font-weight);

$fw-regular: tok.get-token(font-weight, regular);
$fw-medium: tok.get-token(font-weight, medium);
$fw-bold: tok.get-token(font-weight, bold);
