@use "../../functions/f-get-token" as tok;

$lh-map: tok.get-token(line-height);

$lh-tight: tok.get-token(line-height, tight);
$lh-base: tok.get-token(line-height, base);
$lh-relaxed: tok.get-token(line-height, relaxed);
$lh-loose: tok.get-token(line-height, loose);
