@use "../../functions/f-get-token" as token;

// Повна мапа spacing
$spacing: token.get(spacing);

// Звичайні SCSS значення
$sp-none: token.get(spacing, none);
$sp-xxs: token.get(spacing, xxs);
$sp-xs: token.get(spacing, xs);
$sp-sm: token.get(spacing, sm);
$sp-md: token.get(spacing, md);
$sp-lg: token.get(spacing, lg);
$sp-xl: token.get(spacing, xl);
$sp-xxl: token.get(spacing, xxl);

$sp-section: token.get(spacing, section);
$sp-container-min: token.get(spacing, container-min);
$sp-container-max: token.get(spacing, container-max);
