@use "../../functions/f-get-token" as tok;

$sp-map: tok.get-token(spacing);

$sp-none: tok.get-token(spacing, none);
$sp-xxs: tok.get-token(spacing, xxs);
$sp-xs: tok.get-token(spacing, xs);
$sp-sm: tok.get-token(spacing, sm);
$sp-md: tok.get-token(spacing, md);
$sp-lg: tok.get-token(spacing, lg);
$sp-xl: tok.get-token(spacing, xl);
$sp-xxl: tok.get-token(spacing, xxl);
$sp-section: tok.get-token(spacing, section);
$sp-container-min: tok.get-token(spacing, container-min);
$sp-container-max: tok.get-token(spacing, container-max);
