@use "../../functions/f-get-token" as tok;

$propertyAll: tok.get(transition, "all.property");
$durationAll: tok.get(transition, "all.duration");
$timing-functionAll: tok.get(transition, "all.timing-function");

$propertyFill: tok.get(transition, "fill.property");
$durationFill: tok.get(transition, "fill.duration");
$timing-functionFill: tok.get(transition, "fill.timing-function");

$propertyColor: tok.get(transition, "color.property");
$durationColor: tok.get(transition, "color.duration");
$timing-functionColor: tok.get(transition, "color.timing-function");

$propertyBg: tok.get(transition, "background-color.property");
$durationBg: tok.get(transition, "background-color.duration");
$timing-functionBg: tok.get(transition, "background-color.timing-function");

$propertyOpacity: tok.get(transition, "opacity.property");
$durationOpacity: tok.get(transition, "opacity.duration");
$timing-functionOpacity: tok.get(transition, "opacity.timing-function");

$propertyTransform: tok.get(transition, "transform.property");
$durationTransform: tok.get(transition, "transform.duration");
$timing-functionTransform: tok.get(transition, "transform.timing-function");
