@use "../maps" as m;
@use "../maps-alias" as ma;

$TOKENS: (
  breakpoint: m.$BREAKPOINT,
  color: m.$COLOR,
  fontFamily: m.$FONT-FAMILY,
  fontSize: m.$FONT-SIZE,
  fontWeight: m.$FONT-WEIGHT,
  lineHeight: m.$LINE-HEIGHT,
  radius: m.$RADIUS,
  spacing: m.$SPACING,
  shadow: m.$SHADOW,
);

$ALIAS-TOKENS: (
  breakpoint: ma.$ALIAS-BREAKPOINT,
  color: ma.$ALIAS-COLOR,
  fontFamily: ma.$ALIAS-FONT_FAMILY,
  fontSize: ma.$ALIAS-FONT-SIZE,
  fontWeight: ma.$ALIAS-FONT-WEIGHT,
  lineHeight: ma.$ALIAS-LINE-HEIGHT,
  radius: ma.$ALIAS-RADIUS,
  spacing: ma.$ALIAS-SPACING,
  shadow: ma.$ALIAS-SHADOW,
);
