@use "../maps" as m;

$TOKENS: (
  breakpoint: m.$BREAKPOINT,
  color: (
    bg: m.$COLOR-BG,
    text: m.$COLOR-TEXT,
    button: m.$COLOR-BUTTON,
    svg: m.$COLOR-ICON,
    scroll: m.$SCROLL_BAR,
  ),
  font-family: m.$FONT-FAMILY,
  font-size: m.$FONT-SIZE,
  font-weight: m.$FONT-WEIGHT,
  line-height: m.$LINE-HEIGHT,
  radius: m.$RADIUS,
  spacing: m.$SPACING,
  transition: m.$TRANSITION,
);
