@use "sass:map";
@use "../tokens/t-tokens" as t;
@use "../functions/f-get-token" as fn;

$breakpoints: fn.get-token(breakpoint);

@mixin respond-to($bp: sm, $type: min, $is-retina: false) {
  @if map.has-key($breakpoints, $bp) {
    $width: map.get($breakpoints, $bp);

    @if $type == max {
      $width: $width - 0.02px;
    }

    $media: "(#{$type}-width: #{$width})";

    @if $is-retina {
      $media: "#{$media} and (min-device-pixel-ratio: 2), " +
        "#{$media} and (min-resolution: 192dpi), " +
        "#{$media} and (min-resolution: 2dppx)";
    }

    @media only screen and #{$media} {
      @content;
    }
  } @else {
    @warn "❗ Breakpoint `#{$bp}` not found in $breakpoints map.";
  }
}
