@use "../../functions/f-get-token" as css;

$v-bg-primary: css.get(color, "bg.primary", css);
$v-bg-secondary: css.get(color, "bg.secondary", css);
$v-bg-tertiary: css.get(color, "bg.tertiary", css);
$v-bg-overlay: css.get(color, "bg.overlay", css);

$v-text-primary: css.get(color, "text.primary", css);
$v-text-title: css.get(color, "text.title", css);
$v-text-accent: css.get(color, "text.accent", css);

$v-btn-text-primary: css.get(color, "button.text-primary", css);
$v-btn-primary: css.get(color, "button.primary", css);
$v-btn-pressed: css.get(color, "button.pressed", css);

$v-btn-default: css.get(color, "button.default", css);
$v-btn-info: css.get(color, "button.info", css);
$v-btn-success: css.get(color, "button.success", css);
$v-btn-warning: css.get(color, "button.warning", css);
$v-btn-danger: css.get(color, "button.danger", css);

$v-svg-primary: css.get(color, "svg.primary", css);
$v-svg-secondary: css.get(color, "svg.secondary", css);
$v-svg-hover: css.get(color, "svg.hover", css);
$v-svg-success: css.get(color, "svg.success", css);
$v-svg-error: css.get(color, "svg.error", css);
