$COLORS: (
  light: #ffffff,
  light-primary: #fafafb,
  light-secondary: #b5b6be,
  light-tertiary: #9292a0,

  dark: #000000,
  dark-primary: #13131a,
  dark-secondary: #1c1c24,
  dark-tertiary: #292932,

  accent-primary: #f07f2e,
  accent-secondary: #f15c27,
  accent-tertiary: #d14a00,

  danger: #fc5a5a,
  warning: #a461d8,
  success: #82c43c,
  info: #4f75ff,
);
