$COLORS: (
  // BASE
  primary: #ebd0d0,
  secondary: #31d0aa,
  accent: #404bbf,

  // TEXT
  base: #434455,
  muted: #8e8f99,
  light: #ffffff,

  // BACKGROUND
  body: #ffffff,
  section: #f4f4fd,
  overlay: rgba(46, 47, 66, 0.8),
  // BORDER
  border-base: #e7e9fc,

  // STATE
  success: #31d0aa,
  danger: #e74c3c,
  warning: #f39c12,

  // OTHER
);
