@use "./t-breakpoint" as bp;

@use "./t-color" as c;

@use "./t-effects" as ef;

@use "./t-font-family" as ff;

@use "./t-font-size" as fs;

@use "./t-font-weight" as fw;

@use "./t-line-height" as lh;

@use "./t-radius" as r;

@use "./t-spacing" as sp;

$tokens: (
  breakpoint: bp.$BREAKPOINTS,
  color: c.$COLORS,
  font-family: ff.$FONTFAMILY,
  font-size: fs.$FONTSIZES,
  font-weight: fw.$FONTWEIGHTS,
  line-height: lh.$LINEHEIGHTS,
  radius: r.$RADIUS,
  spacing: sp.$SPACINGS,
);
