@use "./t-breakpoint" as *;

@use "./t-color" as *;

@use "./t-fontsize" as *;

@use "./t-fontweight" as *;

@use "./t-lineheight" as *;

@use "./t-radius" as *;

@use "./t-spacing" as *;

$tokens: (
  color: $COLORS,
  spacing: $SPACINGS,
  font-size: $FONTSIZES,
  font-weight: $FONTWEIGHTS,
  line-height: $LINEHEIGHTS,
  radius: $RADIUS,
  breakpoint: $BREAKPOINTS,
);
