@use "./breakpoint" as *;

@use "./color" as *;

@use "./fontsize" as *;

@use "./fontweight" as *;

@use "./lineheight" as *;

@use "./radius" as *;

@use "./spacing" as *;

$tokens: (
  color: $COLORS,
  spacing: $SPACINGS,
  font-size: $FONTSIZES,
  font-weight: $FONTWEIGHTS,
  line-height: $LINEHEIGHTS,
  radius: $RADIUS,
  breakpoint: $BREAKPOINTS,
);
