@use "sass:map";
@use "sass:meta";
@use "../tokens/t-token" as t;

@function get($keys...) {
  $map: t.$tokens;

  @each $key in $keys {
    $key: "#{"" + $key}";

    @if meta.type-of($map) != "map" {
      @error "❌ Not a map at key `#{$key}` in #{inspect($keys)}";
    }

    @if map.has-key($map, $key) {
      $map: map.get($map, $key);
    } @else {
      @error "❌ Token not found: `#{$key}` in #{inspect($keys)}";
    }
  }

  @return $map;
}
