@use "../abstracts" as v;

html {
  font-size: v.$var-fs-primary;
  scroll-behavior: smooth;
}

// Базові стилі для body
body {
  @include v.clamp(v.$get-bp-xs, v.$get-bp-wide, v.$get-fs-primary, 16px);
  font-family: v.$var-ff-primary, sans-serif;
  background-color: v.$var-bg-primary;
  color: v.$var-text-primary;

  & button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
  }

  & summary {
    list-style-type: none;
  }
}
