@use "../abstracts" as a;

html {
  // font-size: get(font-size, base);
  scroll-behavior: smooth;
}

// Базові стилі для body
body {
  font-family: a.get-token(fontFamily, base), sans-serif;
  background-color: a.get(color, bg-page);
  @include a.clamp(
    a.get-token(breakpoint, xs),
    a.get-token(breakpoint, wide),
    16px,
    14px
  );
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

summary {
  list-style-type: none;
}
