@use "../abstracts" as v;

html {
  font-size: v.$var-font-size-base;
  scroll-behavior: smooth;
}

// Базові стилі для body
body {
  @include v.clamp(
    v.get-token(breakpoint, xs),
    v.get-token(breakpoint, wide),
    16px,
    16px
  );
  font-family: v.$font-family-base, sans-serif;
  background-color: v.$var-bg-primary;
  color: v.$var-text-primary;

  & button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
  }

  & summary {
    list-style-type: none;
  }
}
