@use "../utils" as u;

// Отримуємо мапу font-weight з токенів
$font-weight: u.get(font-weight);
$font-main: u.get(font-family, primary);
$font-second: u.get(font-family, secondary);

// Генеруємо @font-face для всіх накреслень
@include u.font-face-family($font-main, $font-weight);
