@use "../functions/f-get-token" as fn;
@use "../functions/f-units" as un;

$font-sizes: fn.get("font-size");

// Перебираємо мапу розмірів шрифтів
@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: un.rem($value);
  }
}

// Перелік варіантів товщини накреслення
$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

// Перебираємо список товщин
@each $w in $weights {
  .fw-#{$w} {
    font-weight: $w;
  }
}
