@use "../tokens/t-token" as t;
@use "../functions/f-get-token" as fn;
@use "../functions/f-units" as un;

$types: (
  "m": "margin",
  "p": "padding",
);

$sides: (
  "": "",
  t: "-top",
  r: "-right",
  b: "-bottom",
  l: "-left",
);

$spacing: fn.get("spacing");

@each $key, $value in $spacing {
  @each $abbr, $type in $types {
    @each $side, $suffix in $sides {
      .#{$abbr}#{$side}-#{$key} {
        #{$type}#{$suffix}: un.rem($value);
      }
    }

    .#{$abbr}x-#{$key} {
      #{$type}-left: un.rem($value);
      #{$type}-right: un.rem($value);
    }

    .#{$abbr}y-#{$key} {
      #{$type}-top: un.rem($value);
      #{$type}-bottom: un.rem($value);
    }
  }

  .gap-#{$key} {
    gap: un.rem($value);
  }
}
