@use "../variables/values/v-color" as get;

@each $name, $value in get.$color-map {
  .bg-#{$name} {
    background-color: $value;
  }

  .color-#{$name} {
    color: $value;
  }

  .border-#{$name} {
    border-color: $value;
  }

  .fill-#{$name} svg {
    fill: $value;
  }
}
