@use "../functions/f-get-token" as gt;

// $c-font-weight-thin: gt.get(font-weight, thin);
// $c-font-weight-extralight: gt.get(font-weight, extralight);
// $c-font-weight-light: gt.get(font-weight, light);
$c-font-weight-regular: gt.get(font-weight, regular);
$c-font-weight-medium: gt.get(font-weight, medium);
// $c-font-weight-semibold: gt.get(font-weight, semibold);
$c-font-weight-bold: gt.get(font-weight, bold);
// $c-font-weight-extrabold: gt.get(font-weight, extrabold);
// $c-font-weight-black: gt.get(font-weight, blaack);
