@use "../functions/f-get-token" as fn;

$c-font-weight-regular: fn.get-token(font-weight, regular);
$c-font-weight-medium: fn.get-token(font-weight, medium);
$c-font-weight-bold: fn.get-token(font-weight, bold);
