$ALIAS-COLOR: (
  // TEXT
  text-primary: text-primary,
  text-secondary: text-secondary,
  text-tertiary: text-tertiary,
  text-link: text-link,
  text-link-hover: text-link-hover,

  // BACKGROUND
  bg-primary: bg-primary,
  bg-secondary: bg-secondary,
  bg-tertiary: bg-tertiary,
  bg-overlay: bg-overlay,
  bg-hover: bg-hover,

  // BORDER
  border-primary: border-primary,
  border-secondary: border-secondary,
  border-tertiary: border-tertiary,

  // BUTTON
  // Primary
  button-bg-primary: button-bg-primary,
  button-text-primary: button-text-primary,
  button-hover-primary: button-hover-primary,

  // Secondary
  button-bg-secondary: button-bg-secondary,
  button-text-secondary: button-text-secondary,
  button-hover-secondary: button-hover-secondary,

  // Tertiary
  button-bg-tertiary: button-bg-tertiary,
  button-text-tertiary: button-text-tertiary,
  button-hover-tertiary: button-hover-tertiary,

  // BRAND
  brand-main: brand-main,
  brand-accent: brand-accent,
  brand-dark: brand-dark,
  brand-light: brand-light,

  // SVG-FILL
  fill-primary: fill-primary,
  fill-secondary: fill-secondary,
  fill-tertiary: fill-tertiary,
  fill-muted: fill-muted,
  fill-success: fill-success,
  fill-warning: fill-warning,
  fill-danger: fill-danger,
  fill-info: fill-info,

  // SVG-STROKE
  stroke-primary: stroke-primary,
  stroke-secondary: stroke-secondary,
  stroke-tertiary: stroke-tertiary,
  stroke-muted: stroke-muted,
  stroke-light: stroke-light,
  stroke-dark: stroke-dark,
  stroke-success: stroke-success,
  stroke-danger: stroke-danger,
  stroke-warning: stroke-warning
);
