.bg-1 {
  background-color: #111827;
}

.color-1 {
  color: #111827;
}

.border-1 {
  border-color: #111827;
}

.fill-1 svg {
  fill: #111827;
}

.bg-2 {
  background-color: #374151;
}

.color-2 {
  color: #374151;
}

.border-2 {
  border-color: #374151;
}

.fill-2 svg {
  fill: #374151;
}

.bg-3 {
  background-color: #6b7280;
}

.color-3 {
  color: #6b7280;
}

.border-3 {
  border-color: #6b7280;
}

.fill-3 svg {
  fill: #6b7280;
}

.bg-4 {
  background-color: #444343;
}

.color-4 {
  color: #444343;
}

.border-4 {
  border-color: #444343;
}

.fill-4 svg {
  fill: #444343;
}

.bg-5 {
  background-color: #2563eb;
}

.color-5 {
  color: #2563eb;
}

.border-5 {
  border-color: #2563eb;
}

.fill-5 svg {
  fill: #2563eb;
}

.bg-6 {
  background-color: #1d4ed8;
}

.color-6 {
  color: #1d4ed8;
}

.border-6 {
  border-color: #1d4ed8;
}

.fill-6 svg {
  fill: #1d4ed8;
}

.bg-7 {
  background-color: #9ca3af;
}

.color-7 {
  color: #9ca3af;
}

.border-7 {
  border-color: #9ca3af;
}

.fill-7 svg {
  fill: #9ca3af;
}

.bg-8 {
  background-color: #dc2626;
}

.color-8 {
  color: #dc2626;
}

.border-8 {
  border-color: #dc2626;
}

.fill-8 svg {
  fill: #dc2626;
}

.bg-9 {
  background-color: #f9fafb;
}

.color-9 {
  color: #f9fafb;
}

.border-9 {
  border-color: #f9fafb;
}

.fill-9 svg {
  fill: #f9fafb;
}

.bg-10 {
  background-color: #f3f4f6;
}

.color-10 {
  color: #f3f4f6;
}

.border-10 {
  border-color: #f3f4f6;
}

.fill-10 svg {
  fill: #f3f4f6;
}

.bg-11 {
  background-color: rgba(0, 0, 0, 0.4);
}

.color-11 {
  color: rgba(0, 0, 0, 0.4);
}

.border-11 {
  border-color: rgba(0, 0, 0, 0.4);
}

.fill-11 svg {
  fill: rgba(0, 0, 0, 0.4);
}

.bg-12 {
  background-color: #e5e7eb;
}

.color-12 {
  color: #e5e7eb;
}

.border-12 {
  border-color: #e5e7eb;
}

.fill-12 svg {
  fill: #e5e7eb;
}

.bg-13 {
  background-color: #eff6ff;
}

.color-13 {
  color: #eff6ff;
}

.border-13 {
  border-color: #eff6ff;
}

.fill-13 svg {
  fill: #eff6ff;
}

.bg-14 {
  background-color: #d1d5db;
}

.color-14 {
  color: #d1d5db;
}

.border-14 {
  border-color: #d1d5db;
}

.fill-14 svg {
  fill: #d1d5db;
}

.bg-15 {
  background-color: #e5e7eb;
}

.color-15 {
  color: #e5e7eb;
}

.border-15 {
  border-color: #e5e7eb;
}

.fill-15 svg {
  fill: #e5e7eb;
}

.bg-16 {
  background-color: #3b82f6;
}

.color-16 {
  color: #3b82f6;
}

.border-16 {
  border-color: #3b82f6;
}

.fill-16 svg {
  fill: #3b82f6;
}

.bg-17 {
  background-color: #ef4444;
}

.color-17 {
  color: #ef4444;
}

.border-17 {
  border-color: #ef4444;
}

.fill-17 svg {
  fill: #ef4444;
}

.bg-18 {
  background-color: #b91c1c;
}

.color-18 {
  color: #b91c1c;
}

.border-18 {
  border-color: #b91c1c;
}

.fill-18 svg {
  fill: #b91c1c;
}

.bg-19 {
  background-color: #dcfce7;
}

.color-19 {
  color: #dcfce7;
}

.border-19 {
  border-color: #dcfce7;
}

.fill-19 svg {
  fill: #dcfce7;
}

.bg-20 {
  background-color: #4ade80;
}

.color-20 {
  color: #4ade80;
}

.border-20 {
  border-color: #4ade80;
}

.fill-20 svg {
  fill: #4ade80;
}

.bg-21 {
  background-color: #15803d;
}

.color-21 {
  color: #15803d;
}

.border-21 {
  border-color: #15803d;
}

.fill-21 svg {
  fill: #15803d;
}

.bg-22 {
  background-color: #fef9c3;
}

.color-22 {
  color: #fef9c3;
}

.border-22 {
  border-color: #fef9c3;
}

.fill-22 svg {
  fill: #fef9c3;
}

.bg-23 {
  background-color: #facc15;
}

.color-23 {
  color: #facc15;
}

.border-23 {
  border-color: #facc15;
}

.fill-23 svg {
  fill: #facc15;
}

.bg-24 {
  background-color: #a16207;
}

.color-24 {
  color: #a16207;
}

.border-24 {
  border-color: #a16207;
}

.fill-24 svg {
  fill: #a16207;
}

.bg-25 {
  background-color: #fee2e2;
}

.color-25 {
  color: #fee2e2;
}

.border-25 {
  border-color: #fee2e2;
}

.fill-25 svg {
  fill: #fee2e2;
}

.bg-26 {
  background-color: #f87171;
}

.color-26 {
  color: #f87171;
}

.border-26 {
  border-color: #f87171;
}

.fill-26 svg {
  fill: #f87171;
}

.bg-27 {
  background-color: #b91c1c;
}

.color-27 {
  color: #b91c1c;
}

.border-27 {
  border-color: #b91c1c;
}

.fill-27 svg {
  fill: #b91c1c;
}

.bg-28 {
  background-color: #ec4899;
}

.color-28 {
  color: #ec4899;
}

.border-28 {
  border-color: #ec4899;
}

.fill-28 svg {
  fill: #ec4899;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-stretch {
  justify-content: stretch;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-base {
  font-size: 1rem;
}

.fs-md {
  font-size: 1.25rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

:root {
  /* === COLORS === */
  --color-1: #111827;
  --color-2: #374151;
  --color-3: #6b7280;
  --color-4: #444343;
  --color-5: #2563eb;
  --color-6: #1d4ed8;
  --color-7: #9ca3af;
  --color-8: #dc2626;
  --color-9: #f9fafb;
  --color-10: #f3f4f6;
  --color-11: rgba(0, 0, 0, 0.4);
  --color-12: #e5e7eb;
  --color-13: #eff6ff;
  --color-14: #d1d5db;
  --color-15: #e5e7eb;
  --color-16: #3b82f6;
  --color-17: #ef4444;
  --color-18: #b91c1c;
  --color-19: #dcfce7;
  --color-20: #4ade80;
  --color-21: #15803d;
  --color-22: #fef9c3;
  --color-23: #facc15;
  --color-24: #a16207;
  --color-25: #fee2e2;
  --color-26: #f87171;
  --color-27: #b91c1c;
  --color-28: #ec4899;
  /* === FONT SIZES === */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  /* === FONT WEIGHTS === */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* === LINE HEIGHTS === */
  --line-height-tight: 1.2;
  --line-height-base: 1.5;
  --line-height-relaxed: 1.75;
  --line-height-loose: 2;
  /* === RADIUS === */
  --radius-none: 0rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-xxl: 1.5rem;
  /* === SPACINGS === */
  --spacing-none: 0rem;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-section: 5rem;
  --spacing-container-min: 1rem;
  --spacing-container-max: 3rem;
  /* === FONTS-FAMILY === */
  --font-family-base: Roboto;
  --font-family-secondary: Inter;
  --font-family-accent: PlayfairDisplay;
}

.w-1 {
  width: 8.3333333333%;
}

.h-1 {
  height: 8.3333333333%;
}

.w-2 {
  width: 16.6666666667%;
}

.h-2 {
  height: 16.6666666667%;
}

.w-3 {
  width: 25%;
}

.h-3 {
  height: 25%;
}

.w-4 {
  width: 33.3333333333%;
}

.h-4 {
  height: 33.3333333333%;
}

.w-5 {
  width: 41.6666666667%;
}

.h-5 {
  height: 41.6666666667%;
}

.w-6 {
  width: 50%;
}

.h-6 {
  height: 50%;
}

.w-7 {
  width: 58.3333333333%;
}

.h-7 {
  height: 58.3333333333%;
}

.w-8 {
  width: 66.6666666667%;
}

.h-8 {
  height: 66.6666666667%;
}

.w-9 {
  width: 75%;
}

.h-9 {
  height: 75%;
}

.w-10 {
  width: 83.3333333333%;
}

.h-10 {
  height: 83.3333333333%;
}

.w-11 {
  width: 91.6666666667%;
}

.h-11 {
  height: 91.6666666667%;
}

.w-12 {
  width: 100%;
}

.h-12 {
  height: 100%;
}

.w-full {
  width: 100vw;
}

.h-full {
  height: 100vh;
}

.m-none {
  margin: 0rem;
}

.mt-none {
  margin-top: 0rem;
}

.mr-none {
  margin-right: 0rem;
}

.mb-none {
  margin-bottom: 0rem;
}

.ml-none {
  margin-left: 0rem;
}

.mx-none {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-none {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.p-none {
  padding: 0rem;
}

.pt-none {
  padding-top: 0rem;
}

.pr-none {
  padding-right: 0rem;
}

.pb-none {
  padding-bottom: 0rem;
}

.pl-none {
  padding-left: 0rem;
}

.px-none {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-none {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.gap-none {
  gap: 0rem;
}

.m-xxs {
  margin: 0.125rem;
}

.mt-xxs {
  margin-top: 0.125rem;
}

.mr-xxs {
  margin-right: 0.125rem;
}

.mb-xxs {
  margin-bottom: 0.125rem;
}

.ml-xxs {
  margin-left: 0.125rem;
}

.mx-xxs {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.my-xxs {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.p-xxs {
  padding: 0.125rem;
}

.pt-xxs {
  padding-top: 0.125rem;
}

.pr-xxs {
  padding-right: 0.125rem;
}

.pb-xxs {
  padding-bottom: 0.125rem;
}

.pl-xxs {
  padding-left: 0.125rem;
}

.px-xxs {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.py-xxs {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.gap-xxs {
  gap: 0.125rem;
}

.m-xs {
  margin: 0.25rem;
}

.mt-xs {
  margin-top: 0.25rem;
}

.mr-xs {
  margin-right: 0.25rem;
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.ml-xs {
  margin-left: 0.25rem;
}

.mx-xs {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-xs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.p-xs {
  padding: 0.25rem;
}

.pt-xs {
  padding-top: 0.25rem;
}

.pr-xs {
  padding-right: 0.25rem;
}

.pb-xs {
  padding-bottom: 0.25rem;
}

.pl-xs {
  padding-left: 0.25rem;
}

.px-xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.gap-xs {
  gap: 0.25rem;
}

.m-sm {
  margin: 0.5rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.mr-sm {
  margin-right: 0.5rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.ml-sm {
  margin-left: 0.5rem;
}

.mx-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-sm {
  padding: 0.5rem;
}

.pt-sm {
  padding-top: 0.5rem;
}

.pr-sm {
  padding-right: 0.5rem;
}

.pb-sm {
  padding-bottom: 0.5rem;
}

.pl-sm {
  padding-left: 0.5rem;
}

.px-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.gap-sm {
  gap: 0.5rem;
}

.m-md {
  margin: 1rem;
}

.mt-md {
  margin-top: 1rem;
}

.mr-md {
  margin-right: 1rem;
}

.mb-md {
  margin-bottom: 1rem;
}

.ml-md {
  margin-left: 1rem;
}

.mx-md {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-md {
  padding: 1rem;
}

.pt-md {
  padding-top: 1rem;
}

.pr-md {
  padding-right: 1rem;
}

.pb-md {
  padding-bottom: 1rem;
}

.pl-md {
  padding-left: 1rem;
}

.px-md {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gap-md {
  gap: 1rem;
}

.m-lg {
  margin: 1.5rem;
}

.mt-lg {
  margin-top: 1.5rem;
}

.mr-lg {
  margin-right: 1.5rem;
}

.mb-lg {
  margin-bottom: 1.5rem;
}

.ml-lg {
  margin-left: 1.5rem;
}

.mx-lg {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-lg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-lg {
  padding: 1.5rem;
}

.pt-lg {
  padding-top: 1.5rem;
}

.pr-lg {
  padding-right: 1.5rem;
}

.pb-lg {
  padding-bottom: 1.5rem;
}

.pl-lg {
  padding-left: 1.5rem;
}

.px-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-lg {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.gap-lg {
  gap: 1.5rem;
}

.m-xl {
  margin: 2rem;
}

.mt-xl {
  margin-top: 2rem;
}

.mr-xl {
  margin-right: 2rem;
}

.mb-xl {
  margin-bottom: 2rem;
}

.ml-xl {
  margin-left: 2rem;
}

.mx-xl {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-xl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-xl {
  padding: 2rem;
}

.pt-xl {
  padding-top: 2rem;
}

.pr-xl {
  padding-right: 2rem;
}

.pb-xl {
  padding-bottom: 2rem;
}

.pl-xl {
  padding-left: 2rem;
}

.px-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gap-xl {
  gap: 2rem;
}

.m-xxl {
  margin: 3rem;
}

.mt-xxl {
  margin-top: 3rem;
}

.mr-xxl {
  margin-right: 3rem;
}

.mb-xxl {
  margin-bottom: 3rem;
}

.ml-xxl {
  margin-left: 3rem;
}

.mx-xxl {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-xxl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-xxl {
  padding: 3rem;
}

.pt-xxl {
  padding-top: 3rem;
}

.pr-xxl {
  padding-right: 3rem;
}

.pb-xxl {
  padding-bottom: 3rem;
}

.pl-xxl {
  padding-left: 3rem;
}

.px-xxl {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-xxl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gap-xxl {
  gap: 3rem;
}

.m-section {
  margin: 5rem;
}

.mt-section {
  margin-top: 5rem;
}

.mr-section {
  margin-right: 5rem;
}

.mb-section {
  margin-bottom: 5rem;
}

.ml-section {
  margin-left: 5rem;
}

.mx-section {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-section {
  padding: 5rem;
}

.pt-section {
  padding-top: 5rem;
}

.pr-section {
  padding-right: 5rem;
}

.pb-section {
  padding-bottom: 5rem;
}

.pl-section {
  padding-left: 5rem;
}

.px-section {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.gap-section {
  gap: 5rem;
}

.m-container-min {
  margin: 1rem;
}

.mt-container-min {
  margin-top: 1rem;
}

.mr-container-min {
  margin-right: 1rem;
}

.mb-container-min {
  margin-bottom: 1rem;
}

.ml-container-min {
  margin-left: 1rem;
}

.mx-container-min {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-container-min {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-container-min {
  padding: 1rem;
}

.pt-container-min {
  padding-top: 1rem;
}

.pr-container-min {
  padding-right: 1rem;
}

.pb-container-min {
  padding-bottom: 1rem;
}

.pl-container-min {
  padding-left: 1rem;
}

.px-container-min {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-container-min {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gap-container-min {
  gap: 1rem;
}

.m-container-max {
  margin: 3rem;
}

.mt-container-max {
  margin-top: 3rem;
}

.mr-container-max {
  margin-right: 3rem;
}

.mb-container-max {
  margin-bottom: 3rem;
}

.ml-container-max {
  margin-left: 3rem;
}

.mx-container-max {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-container-max {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-container-max {
  padding: 3rem;
}

.pt-container-max {
  padding-top: 3rem;
}

.pr-container-max {
  padding-right: 3rem;
}

.pb-container-max {
  padding-bottom: 3rem;
}

.pl-container-max {
  padding-left: 3rem;
}

.px-container-max {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-container-max {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gap-container-max {
  gap: 3rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-regular.woff2") format("woff2"), url("/fonts/Roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-medium.woff2") format("woff2"), url("/fonts/Roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-bold.woff2") format("woff2"), url("/fonts/Roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-4);
  font-size: clamp(14px, calc(16px - 2 * (100vw - 320px) / 1120), 16px);
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

summary {
  list-style-type: none;
}